body{
    padding: 3%;
    background: EFEEEE;
    color:#EFEEEE;
}

.col-form-label{
    font-weight: bold;
}

h1{
    text-align:center;
}
.container{
    background: #325D79;
    border-radius: 15px;
}

.radio-inline{
    text-align: right;
    position: relative;
    top: 30%;
    left: 20%;
}

button.btn{
    top: 50%;
    left: 50%;
    background: coral;
}
.banner_foto{
    position: relative;
    top: 50%;
    left: 50%;
    background: coral;
}

.width-100{
    width: 100px;
}
